<a href="https://colab.research.google.com/github/dubeyabhi07/big-data-spark/blob/master/src/main/pyspark/stocks/stockAnalysisSQL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null

In [0]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"

In [3]:
!pip install pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").getOrCreate()

Collecting pyspark
  Downloading https://files.pythonhosted.org/packages/e9/e4/5c15ab8d354c4e3528510821865e6748209a9b0ff6a1788f4cd36cc2a5dc/pyspark-2.4.6.tar.gz (218.4MB)
     |████████████████████████████████| 218.4MB 57kB/s
Collecting py4j==0.10.7
  Downloading https://files.pythonhosted.org/packages/e3/53/c737818eb9a7dc32a7cd4f1396e787bd94200c3997c72c1dbe028587bd76/py4j-0.10.7-py2.py3-none-any.whl (197kB)
     |████████████████████████████████| 204kB 47.1MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-2.4.6-py2.py3-none-any.whl size=218814406 sha256=89f0275fec56e2158736b0e8de820e5ee62102cc29b8323a5a016d5d6afde018
  Stored in directory: /root/.cache/pip/wheels/1e/5e/6a/17e906c94ec7246f260330a66e44a06a0809033ba2738a74a8
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.7 pyspark-2.4.6

In [4]:
stocksToBeLoaded = {"HDFC" : "DLF.NS.csv",
                    "ICICI" : "ICICIBANK.NS.csv",
                    "cipla" : "CIPLA.NS.csv",
                    "HUL" :"HINDUNILVR.NS.csv",
                    "sunpharma" : "SUNPHARMA.NS.csv",
                    "DLF":"DLF.NS.csv",
                    "indiaBulls":"IBREALEST.NS.csv",                    
                    "reliance":"RELIANCE.NS.csv",
                    "ONGC":"ONGC.NS.csv",
                    "tataMotor":"TATAMOTORS.NS.csv",
                    "hero":"HEROMOTOCO.NS.csv",
                    "symphony":"SYMPHONY.NS.csv",
                    "whirlpool":"WHIRLPOOL.NS.csv",
                    "donear":"DONEAR.NS.csv",
                    "raymond":"RAYMOND.NS.csv"}

dataFrameMap = dict()
for key, value in stocksToBeLoaded.items():
  dataFrameMap.update({key:spark.read.csv(stocksToBeLoaded[key], inferSchema = True, header = True)})

for key,value in dataFrameMap.items():
  print(key+" : ")
  value.show(1)

HDFC :
+-------------------+----------+----------+----------+----------+----------+-------+
|               Date|      Open|      High|       Low|     Close| Adj Close| Volume|
+-------------------+----------+----------+----------+----------+----------+-------+
|2019-01-01 00:00:00|177.100006|182.149994|177.000000|180.300003|177.382294|6246700|
+-------------------+----------+----------+----------+----------+----------+-------+
only showing top 1 row

ICICI :
+-------------------+----------+----------+----------+----------+----------+-------+
|               Date|      Open|      High|       Low|     Close| Adj Close| Volume|
+-------------------+----------+----------+----------+----------+----------+-------+
|2019-01-01 00:00:00|361.500000|364.799988|356.399994|363.750000|361.981659|7759872|
+-------------------+----------+----------+----------+----------+----------+-------+
only showing top 1 row

cipla :
+-------------------+----------+----------+----------+----------+----------+-------+
|               Date|      Open|      High|       Low|     Close| Adj Close| Volume|
+-------------------+----------+----------+----------+----------+----------+-------+
|2019-01-01 00:00:00|520.000000|524.000000|518.650024|523.049988|518.685181|1361809|
+-------------------+----------+----------+----------+----------+----------+-------+
only showing top 1 row

HUL :
+-------------------+-----------+-----------+-----------+-----------+-----------+------+
|               Date|       Open|       High|        Low|      Close|  Adj Close|Volume|
+-------------------+-----------+-----------+-----------+-----------+-----------+------+
|2019-01-01 00:00:00|1824.800049|1824.800049|1798.349976|1801.099976|1778.929810|807345|
+-------------------+-----------+-----------+-----------+-----------+-----------+------+
only showing top 1 row

sunpharma :
+-------------------+----------+----------+----------+----------+----------+-------+
|               Date|      Open|      High|       Low|     Close| Adj Close| Volume|
+-------------------+----------+----------+----------+----------+----------+-------+
|2019-01-01 00:00:00|432.500000|438.799988|429.649994|433.549988|427.663818|8487116|
+-------------------+----------+----------+----------+----------+----------+-------+
only showing top 1 row

DLF :
+-------------------+----------+----------+----------+----------+----------+-------+
|               Date|      Open|      High|       Low|     Close| Adj Close| Volume|
+-------------------+----------+----------+----------+----------+----------+-------+
|2019-01-01 00:00:00|177.100006|182.149994|177.000000|180.300003|177.382294|6246700|
+-------------------+----------+----------+----------+----------+----------+-------+
only showing top 1 row

indiaBulls :
+-------------------+---------+---------+---------+---------+---------+-------+
|               Date|     Open|     High|      Low|    Close|Adj Close| Volume|
+-------------------+---------+---------+---------+---------+---------+-------+
|2019-01-01 00:00:00|87.599998|89.650002|86.699997|88.500000|88.500000|2029550|
+-------------------+---------+---------+---------+---------+---------+-------+
only showing top 1 row

reliance :
+-------------------+-----------+-----------+-----------+-----------+-----------+-------+
|               Date|       Open|       High|        Low|      Close|  Adj Close| Volume|
+-------------------+-----------+-----------+-----------+-----------+-----------+-------+
|2019-01-01 00:00:00|1125.250000|1127.300049|1110.099976|1121.000000|1114.826294|4455850|
+-------------------+-----------+-----------+-----------+-----------+-----------+-------+
only showing top 1 row

ONGC :
+-------------------+----------+----------+----------+----------+----------+-------+
|               Date|      Open|      High|       Low|     Close| Adj Close| Volume|
+-------------------+----------+----------+----------+----------+----------+-------+
|2019-01-01 00:00:00|150.000000|150.100006|148.000000|148.500000|131.673386|4496586|
+-------------------+----------+----------+----------+----------+----------+-------+
only showing top 1 row

tataMotor :
+-------------------+----------+----------+----------+----------+----------+-------+
|               Date|      Open|      High|       Low|     Close| Adj Close| Volume|
+-------------------+----------+----------+----------+----------+----------+-------+
|2019-01-01 00:00:00|173.500000|174.199997|171.300003|173.449997|173.449997|6715543|
+-------------------+----------+----------+----------+----------+----------+-------+
only showing top 1 row

hero :
+-------------------+-----------+-----------+-----------+-----------+-----------+------+
|               Date|       Open|       High|        Low|      Close|  Adj Close|Volume|
+-------------------+-----------+-----------+-----------+-----------+-----------+------+
|2019-01-01 00:00:00|3089.000000|3135.000000|3073.300049|3127.600098|2909.832764|344239|
+-------------------+-----------+-----------+-----------+-----------+-----------+------+
only showing top 1 row

symphony :
+-------------------+-----------+-----------+-----------+-----------+-----------+------+
|               Date|       Open|       High|        Low|      Close|  Adj Close|Volume|
+-------------------+-----------+-----------+-----------+-----------+-----------+------+
|2019-01-01 00:00:00|1181.949951|1198.000000|1162.199951|1182.000000|1161.071167| 10101|
+-------------------+-----------+-----------+-----------+-----------+-----------+------+
only showing top 1 row

whirlpool :
+-------------------+-----------+-----------+-----------+-----------+-----------+------+
|               Date|       Open|       High|        Low|      Close|  Adj Close|Volume|
+-------------------+-----------+-----------+-----------+-----------+-----------+------+
|2019-01-01 00:00:00|1419.750000|1419.750000|1385.400024|1404.599976|1395.329712| 29846|
+-------------------+-----------+-----------+-----------+-----------+-----------+------+
only showing top 1 row

donear :
+-------------------+---------+---------+---------+---------+---------+------+
|               Date|     Open|     High|      Low|    Close|Adj Close|Volume|
+-------------------+---------+---------+---------+---------+---------+------+
|2019-01-01 00:00:00|37.299999|38.599998|36.700001|37.049999|36.827477| 48490|
+-------------------+---------+---------+---------+---------+---------+------+
only showing top 1 row

raymond :
+-------------------+----------+----------+----------+----------+----------+------+
|               Date|      Open|      High|       Low|     Close| Adj Close|Volume|
+-------------------+----------+----------+----------+----------+----------+------+
|2019-01-01 00:00:00|846.000000|847.700012|837.650024|842.950012|839.800598|186250|
+-------------------+----------+----------+----------+----------+----------+------+
only showing top 1 row

In [0]:
  from pyspark.sql.functions import *
  
  for key,value in dataFrameMap.items():
    value = value.withColumn("stockName",lit(key))
    value.createOrReplaceTempView(key+"View")

In [6]:
'''
     * 1. Most Volatile stocks for intra-day in 2019 (descending order)
     * Description :  stock that remained least stable.
     * average of absolute difference between daily high and low price.
     
'''

def createQueryForMaxIntraDayVolatility(stocks):
  query = "";
  for stock in stocks :
    if stock != stocks[0]:
        query += "UNION"
        
    subQuery = "SELECT stock, AVG(dailyDiffRatio) AS intraDayAvgVolatilityPercent "\
          + " FROM ( SELECT stockName AS stock, 100*abs(High - Low)/Open AS dailyDiffRatio"\
          + " FROM " + stock + "View )"\
          + " GROUP BY stock"
    print(subQuery)
    query += "( " + subQuery + " )"
  query += "ORDER BY intraDayAvgVolatilityPercent DESC"
  return query;

intraDayAvgVolatility = spark.sql(createQueryForMaxIntraDayVolatility(list(stocksToBeLoaded.keys())));
print("The most volatile stocks (intra-day) in 2019 are in order : ");
intraDayAvgVolatility.show(20)

SELECT stock, AVG(dailyDiffRatio) AS intraDayAvgVolatilityPercent  FROM ( SELECT stockName AS stock, 100*abs(High - Low)/Open AS dailyDiffRatio FROM HDFCView ) GROUP BY stock
SELECT stock, AVG(dailyDiffRatio) AS intraDayAvgVolatilityPercent  FROM ( SELECT stockName AS stock, 100*abs(High - Low)/Open AS dailyDiffRatio FROM ICICIView ) GROUP BY stock
SELECT stock, AVG(dailyDiffRatio) AS intraDayAvgVolatilityPercent  FROM ( SELECT stockName AS stock, 100*abs(High - Low)/Open AS dailyDiffRatio FROM ciplaView ) GROUP BY stock
SELECT stock, AVG(dailyDiffRatio) AS intraDayAvgVolatilityPercent  FROM ( SELECT stockName AS stock, 100*abs(High - Low)/Open AS dailyDiffRatio FROM HULView ) GROUP BY stock
SELECT stock, AVG(dailyDiffRatio) AS intraDayAvgVolatilityPercent  FROM ( SELECT stockName AS stock, 100*abs(High - Low)/Open AS dailyDiffRatio FROM sunpharmaView ) GROUP BY stock
SELECT stock, AVG(dailyDiffRatio) AS intraDayAvgVolatilityPercent  FROM ( SELECT stockName AS stock, 100*abs(High - Low)/Open AS dailyDiffRatio FROM DLFView ) GROUP BY stock
SELECT stock, AVG(dailyDiffRatio) AS intraDayAvgVolatilityPercent  FROM ( SELECT stockName AS stock, 100*abs(High - Low)/Open AS dailyDiffRatio FROM indiaBullsView ) GROUP BY stock
SELECT stock, AVG(dailyDiffRatio) AS intraDayAvgVolatilityPercent  FROM ( SELECT stockName AS stock, 100*abs(High - Low)/Open AS dailyDiffRatio FROM relianceView ) GROUP BY stock
SELECT stock, AVG(dailyDiffRatio) AS intraDayAvgVolatilityPercent  FROM ( SELECT stockName AS stock, 100*abs(High - Low)/Open AS dailyDiffRatio FROM ONGCView ) GROUP BY stock
SELECT stock, AVG(dailyDiffRatio) AS intraDayAvgVolatilityPercent  FROM ( SELECT stockName AS stock, 100*abs(High - Low)/Open AS dailyDiffRatio FROM tataMotorView ) GROUP BY stock
SELECT stock, AVG(dailyDiffRatio) AS intraDayAvgVolatilityPercent  FROM ( SELECT stockName AS stock, 100*abs(High - Low)/Open AS dailyDiffRatio FROM heroView ) GROUP BY stock
SELECT stock, AVG(dailyDiffRatio) AS intraDayAvgVolatilityPercent  FROM ( SELECT stockName AS stock, 100*abs(High - Low)/Open AS dailyDiffRatio FROM symphonyView ) GROUP BY stock
SELECT stock, AVG(dailyDiffRatio) AS intraDayAvgVolatilityPercent  FROM ( SELECT stockName AS stock, 100*abs(High - Low)/Open AS dailyDiffRatio FROM whirlpoolView ) GROUP BY stock
SELECT stock, AVG(dailyDiffRatio) AS intraDayAvgVolatilityPercent  FROM ( SELECT stockName AS stock, 100*abs(High - Low)/Open AS dailyDiffRatio FROM donearView ) GROUP BY stock
SELECT stock, AVG(dailyDiffRatio) AS intraDayAvgVolatilityPercent  FROM ( SELECT stockName AS stock, 100*abs(High - Low)/Open AS dailyDiffRatio FROM raymondView ) GROUP BY stock
The most volatile stocks (intra-day) in 2019 are in order :
+----------+----------------------------+
|     stock|intraDayAvgVolatilityPercent|
+----------+----------------------------+
|indiaBulls|           5.980829953919609|
|    donear|            5.75693721918782|
| tataMotor|           4.318958771947925|
|      HDFC|          4.1675598744428655|
|       DLF|          4.1675598744428655|
|   raymond|           3.585379229677818|
|  symphony|          3.3720825726308963|
| sunpharma|           3.203974976188762|
| whirlpool|           3.184835773818974|
|      ONGC|          2.9027009189407535|
|      hero|          2.8374709090673202|
|     cipla|          2.4807164574084584|
|     ICICI|           2.370941100758519|
|  reliance|           2.201847281353027|
|       HUL|          1.8104748795063113|
+----------+----------------------------+

In [7]:
'''
     * 2. Most Volatile stocks for inter-day in 2019 (descending order)
     * Description :  stock that remained least stable overnight.
     * average of absolute difference between opening price and closing price of previous day.
     
'''

def createQueryForMaxInterDayVolatility(stocks):
  query = "";
  for stock in stocks:
    if stock != stocks[0]:
      query += "UNION"
    subQuery = "SELECT stock, AVG(interdayDiffRatio) AS interDayAvgVolatilityPercent "\
          +" FROM ( SELECT stockName AS stock,"\
          +" 100*abs(Close - (lead(Open) over (order by Date)))/Close AS interDayDiffRatio"\
          +" FROM " + stock + "View )"\
          +" GROUP BY stock"
    print(subQuery)
    query += "( " + subQuery + " )"
  query += "ORDER BY interDayAvgVolatilityPercent DESC"
  return query

interDayAvgVolatility = spark.sql(createQueryForMaxInterDayVolatility(list(stocksToBeLoaded)));
print("The volatile stocks(inter-day) in 2019 are in order : ");
interDayAvgVolatility.show(20)

SELECT stock, AVG(interdayDiffRatio) AS interDayAvgVolatilityPercent  FROM ( SELECT stockName AS stock, 100*abs(Close - (lead(Open) over (order by Date)))/Close AS interDayDiffRatio FROM HDFCView ) GROUP BY stock
SELECT stock, AVG(interdayDiffRatio) AS interDayAvgVolatilityPercent  FROM ( SELECT stockName AS stock, 100*abs(Close - (lead(Open) over (order by Date)))/Close AS interDayDiffRatio FROM ICICIView ) GROUP BY stock
SELECT stock, AVG(interdayDiffRatio) AS interDayAvgVolatilityPercent  FROM ( SELECT stockName AS stock, 100*abs(Close - (lead(Open) over (order by Date)))/Close AS interDayDiffRatio FROM ciplaView ) GROUP BY stock
SELECT stock, AVG(interdayDiffRatio) AS interDayAvgVolatilityPercent  FROM ( SELECT stockName AS stock, 100*abs(Close - (lead(Open) over (order by Date)))/Close AS interDayDiffRatio FROM HULView ) GROUP BY stock
SELECT stock, AVG(interdayDiffRatio) AS interDayAvgVolatilityPercent  FROM ( SELECT stockName AS stock, 100*abs(Close - (lead(Open) over (order by Date)))/Close AS interDayDiffRatio FROM sunpharmaView ) GROUP BY stock
SELECT stock, AVG(interdayDiffRatio) AS interDayAvgVolatilityPercent  FROM ( SELECT stockName AS stock, 100*abs(Close - (lead(Open) over (order by Date)))/Close AS interDayDiffRatio FROM DLFView ) GROUP BY stock
SELECT stock, AVG(interdayDiffRatio) AS interDayAvgVolatilityPercent  FROM ( SELECT stockName AS stock, 100*abs(Close - (lead(Open) over (order by Date)))/Close AS interDayDiffRatio FROM indiaBullsView ) GROUP BY stock
SELECT stock, AVG(interdayDiffRatio) AS interDayAvgVolatilityPercent  FROM ( SELECT stockName AS stock, 100*abs(Close - (lead(Open) over (order by Date)))/Close AS interDayDiffRatio FROM relianceView ) GROUP BY stock
SELECT stock, AVG(interdayDiffRatio) AS interDayAvgVolatilityPercent  FROM ( SELECT stockName AS stock, 100*abs(Close - (lead(Open) over (order by Date)))/Close AS interDayDiffRatio FROM ONGCView ) GROUP BY stock
SELECT stock, AVG(interdayDiffRatio) AS interDayAvgVolatilityPercent  FROM ( SELECT stockName AS stock, 100*abs(Close - (lead(Open) over (order by Date)))/Close AS interDayDiffRatio FROM tataMotorView ) GROUP BY stock
SELECT stock, AVG(interdayDiffRatio) AS interDayAvgVolatilityPercent  FROM ( SELECT stockName AS stock, 100*abs(Close - (lead(Open) over (order by Date)))/Close AS interDayDiffRatio FROM heroView ) GROUP BY stock
SELECT stock, AVG(interdayDiffRatio) AS interDayAvgVolatilityPercent  FROM ( SELECT stockName AS stock, 100*abs(Close - (lead(Open) over (order by Date)))/Close AS interDayDiffRatio FROM symphonyView ) GROUP BY stock
SELECT stock, AVG(interdayDiffRatio) AS interDayAvgVolatilityPercent  FROM ( SELECT stockName AS stock, 100*abs(Close - (lead(Open) over (order by Date)))/Close AS interDayDiffRatio FROM whirlpoolView ) GROUP BY stock
SELECT stock, AVG(interdayDiffRatio) AS interDayAvgVolatilityPercent  FROM ( SELECT stockName AS stock, 100*abs(Close - (lead(Open) over (order by Date)))/Close AS interDayDiffRatio FROM donearView ) GROUP BY stock
SELECT stock, AVG(interdayDiffRatio) AS interDayAvgVolatilityPercent  FROM ( SELECT stockName AS stock, 100*abs(Close - (lead(Open) over (order by Date)))/Close AS interDayDiffRatio FROM raymondView ) GROUP BY stock
The volatile stocks(inter-day) in 2019 are in order :
+----------+----------------------------+
|     stock|interDayAvgVolatilityPercent|
+----------+----------------------------+
|    donear|           1.371194991911884|
|indiaBulls|          1.1729494750891345|
| tataMotor|          0.7710632019041214|
|      HDFC|          0.5934242635735413|
|       DLF|          0.5934242635735413|
| whirlpool|          0.5492465526688595|
|  symphony|          0.5389301986245337|
|     ICICI|          0.5168365549363568|
| sunpharma|          0.5002572844875388|
|  reliance|           0.492976166839655|
|   raymond|         0.48833741209433607|
|      ONGC|          0.4515711850401439|
|      hero|         0.42781408580087954|
|     cipla|         0.36102117406793494|
|       HUL|          0.2681791808439483|
+----------+----------------------------+

In [8]:
'''
     * 3. Most profit earned per unit stock in 2019 (descending order)
     * Description :  which stock would have given most profit per unit in year 2019,
     *  assuming it was bought on first day and sold on last day of 2019.
'''

def createQueryForMaxProfit(stocks):
  query = "";
  for stock in stocks:
    if stock != stocks[0]:
      query += "UNION"
    subQuery = "SELECT stock, SUM(price) AS profit, SUM(basePrice) AS basePrice "\
          +" FROM ( SELECT stockName AS stock, Close as price, 0 as basePrice FROM " + stock + "View WHERE Date = '2019-12-31'"\
          +" UNION"\
          +" SELECT stockName AS stock, Open*-1 as price, Open as basePrice  FROM " + stock + "View WHERE Date = '2019-01-01' )"\
          +" GROUP BY stock"
    print(subQuery)
    query += "( " + subQuery + " )"
  query += "ORDER BY profit DESC"
  return query

profits = spark.sql(createQueryForMaxProfit(list(stocksToBeLoaded)));
print("The profit earned per unit stock in 2019 is in order : ");
profits.show()

SELECT stock, SUM(price) AS profit, SUM(basePrice) AS basePrice  FROM ( SELECT stockName AS stock, Close as price, 0 as basePrice FROM HDFCView WHERE Date = '2019-12-31' UNION SELECT stockName AS stock, Open*-1 as price, Open as basePrice  FROM HDFCView WHERE Date = '2019-01-01' ) GROUP BY stock
SELECT stock, SUM(price) AS profit, SUM(basePrice) AS basePrice  FROM ( SELECT stockName AS stock, Close as price, 0 as basePrice FROM ICICIView WHERE Date = '2019-12-31' UNION SELECT stockName AS stock, Open*-1 as price, Open as basePrice  FROM ICICIView WHERE Date = '2019-01-01' ) GROUP BY stock
SELECT stock, SUM(price) AS profit, SUM(basePrice) AS basePrice  FROM ( SELECT stockName AS stock, Close as price, 0 as basePrice FROM ciplaView WHERE Date = '2019-12-31' UNION SELECT stockName AS stock, Open*-1 as price, Open as basePrice  FROM ciplaView WHERE Date = '2019-01-01' ) GROUP BY stock
SELECT stock, SUM(price) AS profit, SUM(basePrice) AS basePrice  FROM ( SELECT stockName AS stock, Close as price, 0 as basePrice FROM HULView WHERE Date = '2019-12-31' UNION SELECT stockName AS stock, Open*-1 as price, Open as basePrice  FROM HULView WHERE Date = '2019-01-01' ) GROUP BY stock
SELECT stock, SUM(price) AS profit, SUM(basePrice) AS basePrice  FROM ( SELECT stockName AS stock, Close as price, 0 as basePrice FROM sunpharmaView WHERE Date = '2019-12-31' UNION SELECT stockName AS stock, Open*-1 as price, Open as basePrice  FROM sunpharmaView WHERE Date = '2019-01-01' ) GROUP BY stock
SELECT stock, SUM(price) AS profit, SUM(basePrice) AS basePrice  FROM ( SELECT stockName AS stock, Close as price, 0 as basePrice FROM DLFView WHERE Date = '2019-12-31' UNION SELECT stockName AS stock, Open*-1 as price, Open as basePrice  FROM DLFView WHERE Date = '2019-01-01' ) GROUP BY stock
SELECT stock, SUM(price) AS profit, SUM(basePrice) AS basePrice  FROM ( SELECT stockName AS stock, Close as price, 0 as basePrice FROM indiaBullsView WHERE Date = '2019-12-31' UNION SELECT stockName AS stock, Open*-1 as price, Open as basePrice  FROM indiaBullsView WHERE Date = '2019-01-01' ) GROUP BY stock
SELECT stock, SUM(price) AS profit, SUM(basePrice) AS basePrice  FROM ( SELECT stockName AS stock, Close as price, 0 as basePrice FROM relianceView WHERE Date = '2019-12-31' UNION SELECT stockName AS stock, Open*-1 as price, Open as basePrice  FROM relianceView WHERE Date = '2019-01-01' ) GROUP BY stock
SELECT stock, SUM(price) AS profit, SUM(basePrice) AS basePrice  FROM ( SELECT stockName AS stock, Close as price, 0 as basePrice FROM ONGCView WHERE Date = '2019-12-31' UNION SELECT stockName AS stock, Open*-1 as price, Open as basePrice  FROM ONGCView WHERE Date = '2019-01-01' ) GROUP BY stock
SELECT stock, SUM(price) AS profit, SUM(basePrice) AS basePrice  FROM ( SELECT stockName AS stock, Close as price, 0 as basePrice FROM tataMotorView WHERE Date = '2019-12-31' UNION SELECT stockName AS stock, Open*-1 as price, Open as basePrice  FROM tataMotorView WHERE Date = '2019-01-01' ) GROUP BY stock
SELECT stock, SUM(price) AS profit, SUM(basePrice) AS basePrice  FROM ( SELECT stockName AS stock, Close as price, 0 as basePrice FROM heroView WHERE Date = '2019-12-31' UNION SELECT stockName AS stock, Open*-1 as price, Open as basePrice  FROM heroView WHERE Date = '2019-01-01' ) GROUP BY stock
SELECT stock, SUM(price) AS profit, SUM(basePrice) AS basePrice  FROM ( SELECT stockName AS stock, Close as price, 0 as basePrice FROM symphonyView WHERE Date = '2019-12-31' UNION SELECT stockName AS stock, Open*-1 as price, Open as basePrice  FROM symphonyView WHERE Date = '2019-01-01' ) GROUP BY stock
SELECT stock, SUM(price) AS profit, SUM(basePrice) AS basePrice  FROM ( SELECT stockName AS stock, Close as price, 0 as basePrice FROM whirlpoolView WHERE Date = '2019-12-31' UNION SELECT stockName AS stock, Open*-1 as price, Open as basePrice  FROM whirlpoolView WHERE Date = '2019-01-01' ) GROUP BY stock
SELECT stock, SUM(price) AS profit, SUM(basePrice) AS basePrice  FROM ( SELECT stockName AS stock, Close as price, 0 as basePrice FROM donearView WHERE Date = '2019-12-31' UNION SELECT stockName AS stock, Open*-1 as price, Open as basePrice  FROM donearView WHERE Date = '2019-01-01' ) GROUP BY stock
SELECT stock, SUM(price) AS profit, SUM(basePrice) AS basePrice  FROM ( SELECT stockName AS stock, Close as price, 0 as basePrice FROM raymondView WHERE Date = '2019-12-31' UNION SELECT stockName AS stock, Open*-1 as price, Open as basePrice  FROM raymondView WHERE Date = '2019-01-01' ) GROUP BY stock
The profit earned per unit stock in 2019 is in order :
+----------+-------------------+-----------+
|     stock|             profit|  basePrice|
+----------+-------------------+-----------+
| whirlpool|             953.75|    1419.75|
|  reliance| 388.80004899999994|    1125.25|
|     ICICI| 177.40002400000003|      361.5|
|       HUL|  98.19995100000006|1824.800049|
|      HDFC| 53.799987999999985| 177.100006|
|       DLF| 53.799987999999985| 177.100006|
| tataMotor| 11.649993999999992|      173.5|
| sunpharma|0.04998799999998482|      432.5|
|    donear|              -7.25|  37.299999|
|  symphony|              -19.5|1181.949951|
|      ONGC|-21.199996999999996|      150.0|
|indiaBulls|             -22.25|  87.599998|
|     cipla|-41.799987999999985|      520.0|
|   raymond|-177.09997599999997|      846.0|
|      hero|        -645.949951|     3089.0|
+----------+-------------------+-----------+

In [9]:
'''
    
     * 4. Most profitable stocks in 2019 (descending order)
     * Description :  which stock would have given most profit in year 2019,
     *  assuming it was bought on first day and sold on last day of 2019.
'''


profits.createTempView("profits");

def createQueryforMaxPercentageProfit():
  query = "";
  query = "SELECT profits.stock, profits.profit, profits.basePrice,"\
        +" (100*(profits.profit / profits.basePrice)) AS profitPercent FROM profits "
  query += "ORDER BY profitPercent DESC"
  return query;


profitPercentage = spark.sql(createQueryforMaxPercentageProfit());
print("The % profit earned per unit stock in 2019 is in order : ");
profitPercentage.show(20)

The % profit earned per unit stock in 2019 is in order :
+----------+-------------------+-----------+-------------------+
|     stock|             profit|  basePrice|      profitPercent|
+----------+-------------------+-----------+-------------------+
| whirlpool|             953.75|    1419.75|  67.17731995069555|
|     ICICI| 177.40002400000003|      361.5|   49.0733123098202|
|  reliance| 388.80004899999994|    1125.25|  34.55232606087535|
|      HDFC| 53.799987999999985| 177.100006| 30.378309529814462|
|       DLF| 53.799987999999985| 177.100006| 30.378309529814462|
| tataMotor| 11.649993999999992|      173.5|  6.714693948126797|
|       HUL|  98.19995100000006|1824.800049|  5.381408831823198|
| sunpharma|0.04998799999998482|      432.5|  0.011557919075141|
|  symphony|              -19.5|1181.949951|-1.6498160504598218|
|     cipla|-41.799987999999985|      520.0| -8.038459230769227|
|      ONGC|-21.199996999999996|      150.0|-14.133331333333333|
|    donear|              -7.25|  37.299999| -19.43699784013399|
|      hero|        -645.949951|     3089.0|-20.911296568468764|
|   raymond|-177.09997599999997|      846.0|-20.933803309692667|
|indiaBulls|             -22.25|  87.599998|  -25.3995439588937|
+----------+-------------------+-----------+-------------------+